<div th:fragment="topicBarPost">
    <div class="outer">
        <div class="inner">
            <form class="d-flex" action="#" method="post">

                <select name="searchTopic" id="searchTopic" >

                    <option value="Movies">Movies</option>
                    <option value="Sports">Sports</option>
                    <option value="Food">Food</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Comedy">Comedy</option>


                </select>
            </form>
        </div>
    </div>
</div>