<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/main.css}"/>
    <title>RedCord - Search</title>



    <script th:inline="javascript">
        function enableFields() {
            document.getElementById("titleField").disabled = false;
            document.getElementById("messageField").disabled = false;
        }
    </script>
</head>
    <body>
        <div th:replace="fragments/topnav :: navbar"></div>


        <div class="list-group" th:each="messageEntry : ${messages}" style="max-width:80%; margin:3% 3% 3% 3%;">
            <div class="list-group">
            <form id="deleteMessage" action="#" th:action="@{'/deleteMessage/' + ${messageEntry.messageId} + '/'}" th:object="${messageUpdate}" method="post">
                <div class="card border-success ">
                    <div class="card-header">
                        <label id="lblTitle">Title</label>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" th:disabled="true" id="titleField" name="title" th:value="${messageEntry.title}" >
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <label id="message">Message</label>
                            <textarea class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" rows="5" cols="50" th:disabled="true" id="messageField" name="message" th:text="${messageEntry.message}" ></textarea>
                        </blockquote>
                    </div>
                </div>
            </form>
            </div>

        </div>
        <div style="max-width:80%; margin:3% 3% 3% 3%;">
            <button name="action" type="submit" class="btn btn-warning" value="edit" id="edit" th:onclick="enableFields()" >Edit</button>
            <button name="action" type="submit" class="btn btn-success" value="update" th:formaction="'/updateMessageThread'">Update Message</button>
            <button name="action" type="submit" class="btn btn-secondary" value="cancel" th:formaction="'/cancelUpdateMessageThread'">Cancel</button>
            <button name="action" type="submit" class="btn btn-danger" value="delete" form="deleteMessage">Delete Message</button>
        </div>


    </body>
</html>