<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <title>RedCord</title>
</head>
<body>
<div class="container">

    <div th:replace="fragments/topnav :: navbar"></div>

    <div class="container d-grid gap-5 mt-3">

<!--        GO TO TOPIC-->
        <div class="row m-3">
            <div class="col">
                <form style="display: inline-block" action="#" th:action="@{/}" th:object="${topicEntry}" method="get">
                    <select class="form-select" th:name="topicEntry">
                        <div th:each="topic : ${topics}">
                            <div class="list-group" th:each="topicNames : ${topic['topicName']}">
                                <option th:value="${topicNames}" th:text="${topicNames}"
                                        th:selected="${topicNames=='Movies'}"></option>
                            </div>
                        </div>
                    </select>
                    <button name="submit" class="btn btn-outline-secondary btn-sm" type="submit" value="0">Go To Topic</button>
                </form>
            </div>
        </div>

<!--        VIEW ALL MESSAGES-->
        <div class="row m-3">
            <div class="col">
                <form style="display: inline-block" action="#" th:action="@{/allMessages}" th:object="${messageEntry}"
                      method="get">
                    <button name="submit" class="btn btn-outline-secondary btn-sm" type="submit" value="0">View All Messages</button>
                </form>
            </div>
        </div>

<!--        FIND MSG BY ID-->
        <div class="row m-3">
            <div class="col">
                <form action="#" th:action="@{/messageById}" th:object="${messageEntry}" method="get">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="messageById">Enter Message Id</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-sm" name="messageById" th:field="*{messageId}">
                    </div>
                    <button class="btn btn-outline-secondary btn-sm" name="submit" type="submit" value="0">Find Message by Id</button>
                </form>
            </div>
        </div>

<!--        FIND MSG BY TOPIC ID-->
        <div class="row m-3">
            <div class="col">
        <form action="#" th:action="@{/messageByTopicId}" th:object="${messageEntry}" method="get">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="messageByTopicId">Enter Topic Id</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" name="messageById" th:field="*{topicId}">
            </div>
            <button name="submit" class="btn btn-outline-secondary btn-sm" type="submit" value="0">Find Message by Topic Id</button>
        </form>
            </div>
        </div>


<!--        DELETE MSG BY ID-->
        <div class="row m-3">
            <div class="col">
            <form action="#" th:action="@{/deleteMessage}" th:object="${messageEntry}" method="post">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="deleteMessageById">Enter Message Id</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" name="deleteMessageById" th:field="*{messageId}">
                </div>
                <button name="submit" class="btn btn-outline-secondary btn-sm" type="submit" value="0">Delete Message by Id</button>
            </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="list-group" th:each="message : ${messages}">
            <div class="list-group" th:each="title : ${message['title']}">
                <a th:href="@{'/messageThread/' + ${message.messageId} + '/'}"
                   class="list-group-item list-group-item-secondary">
                    <p th:text="${title}"/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>