<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <title>RedCord</title>
</head>
    <body>

        <div th:replace="fragments/topnav :: navbar"></div>

        <div class="row" style="margin-left: 50px">
            <div class="col">
                <form style="display: inline-block" action="#" th:action="@{/}" th:object="${topicEntry}" method="get" >
                    <select th:name="topicEntry">
                        <div class="list-group" th:each="topic : ${topics}">
                            <div class="list-group" th:each="topicNames : ${topic['topicName']}">
                                <option th:value="${topicNames}" th:text="${topicNames}" th:selected="${topicNames=='Movies'}"></option>
                            </div>
                        </div>
                    </select>
                    <button name="submit" class="btn btn-dark" type="submit" value="0">Go To Topic</button>
                </form>
            </div>

            <div class="col">
                <form style="display: inline-block" action="#" th:action="@{/allMessages}" th:object="${messageEntry}" method="get" >
                    <button name="submit" type="submit" value="0" class="btn btn-dark">View All Messages</button>
                </form>
            </div>
            <div class="w-100"></div>
        </div>

        <div class="outer">
            <div class="inner">

                <form action="#" th:action="@{/messageById}" th:object="${messageEntry}" method="get" hidden>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="messageById">Enter Message Id</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="messageById" th:field="*{messageId}">
                    </div>
                    <button name="submit" type="submit" value="0">Find Message by Id</button>
                </form>

                <form action="#" th:action="@{/messageByTopicId}" th:object="${messageEntry}" method="get" hidden>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="messageByTopicId">Enter Topic Id</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="messageById" th:field="*{topicId}">
                    </div>
                    <button name="submit" type="submit" value="0">Find Message by Topic Id</button>
                </form>

                <form action="#" th:action="@{/deleteMessage}" th:object="${messageEntry}" method="post" hidden>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="deleteMessageById">Enter Message Id</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="deleteMessageById" th:field="*{messageId}">
                    </div>
                    <button name="submit" type="submit" value="0">Delete Message by Id</button>
                </form>
            </div>
        </div>

        <br />
        <div style="margin-left: 50px; margin-right: 50px">
            <div th:each="message : ${messages}">
                <div class="list-group" th:each="title : ${message['title']}">
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{'/messageThread/' + ${message.messageId} + '/'}" class="list-group-item list-group-item-action" style="border-right: 0; border-left: 0; border-top: 0;">
                            <p th:text="${title}"/>
                        </a>
                        <span onclick="alert('hey');">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </span>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>